<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/categorias/tabla-styles.css">
    <link rel="stylesheet" href="/css/button-styles.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>
<body>
  <%- include('../navbar.ejs') %>
    <h1 class="titulo"><span class="span">Lista</span> de <span class="span">Productos</span></h1>
    <div class="tabla-container">
    <table class="tabla">
        <thead>
            <th class="tabla-th" scope="col"><span class="span">ID</span></th>
          <th class="tabla-th" scope="col">Nombre</th>
          <th class="tabla-th" scope="col">Precio</th>
          <th class="tabla-th" scope="col">Stock</th>
          <th class="tabla-th" scope="col">Categoría</th>
          <th class="tabla-th" scope="col"><span class="span">Acciones</span></th>
        </thead>
        <tbody>
          <% products.forEach(function(product) { %>
            <tr class="tabla-tr">
              <td class="tabla-td">
                <%= product.id %>
              </td>
              <td class="tabla-td">
                <%= product.name %>
              </td>
              <td class="tabla-td">
                <%= product.price %>
              </td>
              <td class="tabla-td">
                <%= product.stock %>
              </td>
              <td class="tabla-td">
                <%= product.category.name %>
              </td>
              <td class="tabla-td-icons">
                <div class="tabla-icons">
                        <form action="/productos/edit/" method="POST">
                            <input type="hidden" name="id" value="<%= product.id %>">
                            <button type="submit" class="boton boton-edit"><i class="bi bi-pencil"></i></button>
                        </form>
                        <form action="/productos/delete/" method="POST">
                            <input type="hidden" name="id" value="<%= product.id %>">
                            <button type="submit" class="boton boton-delete"><i class="bi bi-trash"></i></button>
                        </form>
                </div>
            </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      </div>
      <div class="button-add button-add-listView">
        <a href="/productos/add/">Ag<span class="span">reg</span>ar➕</a>
      </div>
      <div class="button-back button-back-productListView">
        <a href="/"><span class="flechita">⬅</span>Volver</a>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>