<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/categorias/tabla-styles.css">
    <link rel="stylesheet" href="/css/button-styles.css">
</head>
<body>
    <%- include('../navbar.ejs') %>
    <h1 class="titulo">Lista de Categorías</h1>
    <div class="tabla-container">
    <table class="tabla">
        <thead>
            <th class="tabla-th" scope="col"><span class="span">I</span>D</th>
          <th class="tabla-th" scope="col"><span class="span">N</span>ombre</th>
          <th class="tabla-th" scope="col">E<span class="span">-</span>Mail</th>
          <th class="tabla-th" scope="col"><span class="span">A</span>cciones</th>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
            <tr class="tabla-tr">
              <td class="tabla-td">
                <span class="span">
                  <%= user.id %>
                </span>
              </td>
              <td class="tabla-td">
                <span class="span">
                  <%= user.userName %>
                </span>
              </td>
              <td class="tabla-td">
                <span class="span">
                  <%= user.email %>
                </span>
              </td>
              <td class="tabla-td-icons">
                <div class="tabla-icons">
                        <form action="/users/edit/" method="POST">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <button type="submit" class="boton boton-edit"><i class="bi bi-pencil"></i></button>
                        </form>
                        <form action="/users/delete/" method="POST">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <button type="submit" class="boton boton-delete"><i class="bi bi-trash"></i></button>
                        </form>
                </div>
            </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      </div>
      <div class="button-add button-add-listView">
        <a href="/categorias/add/"><span class="span">A</span>gregar➕</a>
      </div>
      <div class="button-back button-back-categoryListView">
        <a href="/"><span class="flechita">⬅</span> Volver</a>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>